<% if posts.empty? %>
        <h1 class="text-center">まだ投稿はありません。</h1>
      <% else %>
        <table class="table table-hover table-sm">
          <thead>
            <tr class="border">
              <th class="text-center" style="width: 130px;">投稿ユーザー</th>
              <th class="table-title">タイトル</th>
              <th style="width: 100px;">回答数</th>
              <th style="width: 100px;">いいね数</th>
              <th style="width: 130px;">質問ステータス</th>
              <th style="width: 120px;">投稿日時</th>
            </tr>
          </thead>
          <% posts.each do |post| %>
            <tbody>
              <tr id="post_<%= post.id %>">
                <td class="text-center">
                  <%= link_to customer_path(post.customer) do %>
                    <%= attachment_image_tag(post.customer, :profile_image, size: "50x50", fallback: "no_image.jpg") %><br>
                    <%= post.customer.nickname %>
                  <% end %>
                </td>
                <td class="table-title"><%= link_to post.title, post_path(post) %></td>
                <td>
                  <%= post.ansewers.where(parent_id: nil).count %>回答
                </td>
                <td class="favorite-btn"><%= render "public/favorites/favorite-btn", post: post %></td>
                <td>
                  <% if post.best_ansewer.present? %>
                    <span class="text-success">解決済み</span>
                  <% else %>
                    <span class="text-danger">回答募集中</span>
                  <% end %>
                </td>
                <td>
                  <%= post.created_at.strftime('%Y/%m/%d') %><br>
                  <%= post.created_at.strftime('(%H時%M分)') %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% end %>