<% if @path.is('search#search') %>
  <h3 class="serched"><%= "[#{@selected}] を「#{@content}」で検索の結果" %></h3>
<% end %>
<main class="post-background">
  <h1 class="text-center"><span class="post-index-heading heading">みんなの Outlet Post <i class="fas fa-volume-up"></i></span></h1>
  <div class="container">
    <% if @posts.empty? %>
      <h1 class="text-center text-danger mt-5 pt-5">投稿が見つかりませんでした <i class="fas fa-sad-tear"></i></h1>
    <% else %>
    <div class="shadow">
      <table class="table table-hover table-sm">
        <thead>
          <tr class="border">
            <th class="text-center" style="width: 130px;">投稿ユーザー</th>
            <th class="table-title" style="width: 500px;">タイトル</th>
            <th style="width: 100px;">回答数</th>
            <th style="width: 100px;">いいね数</th>
            <th style="width: 120px;">質問ステータス</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
          <% if post.customer.is_delete == false %>
            <tbody>
              <tr>
                <td class="text-center" >
                  <%= link_to customer_path(post.customer) do %>
                    <%= attachment_image_tag(post.customer, :profile_image, size: "50x50", fallback: "no_image.jpg") %><br>
                    <%= post.customer.nickname %>
                  <% end %>
                </td>
                <td class="table-title"><%= link_to post.title, post_path(post) %></td>
                <td>
                  <%= post.ansewers.where(parent_id: nil).count %>回答
                </td>
                <td>
                   <% if customer_signed_in? %>
                  <% if post.favorited_by?(current_customer) %>
                    <%= link_to post_favorites_path(post), method: :delete do %>
                      <span class="text-danger">♥<%= post.favorites.count %> いいね</span>
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(post), method: :post do %>
                      <span class="text-primary">♡<%= post.favorites.count %> いいね</span>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= post.favorites.count %>いいね <i class="far fa-thumbs-up"></i>
                <% end %>
                </td>
                <td>
                  <% if post.best_ansewer.present? %>
                    <span class="text-success">解決済み</span>
                  <% else %>
                    <span class="text-danger">回答募集中</span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% else %>
            <h1 class="text-center">まだ投稿はありません。</h1>
          <% end %>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>
  <div class="kaminari-btn"><%= paginate @posts,class: "text-center" %></div>
</main>