
<main class="post-show-background">
  <div class="border-bottom pb-3">
    <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <td><%= @post.title %></td>
            <td>投稿日(<%= @post.created_at.strftime('%Y/%m/%d') %>)</td>
          </tr>
          <tr>
            <td>
              <%= attachment_image_tag(@post.customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %><br>
              <%= @post.customer.nickname %>
            </td>
            <td><%= @post.body %></td>
            <td>
              <% if customer_signed_in? %>
                <% if @post.favorited_by?(current_customer) %>
                  <span>
                    <%= link_to post_favorites_path(@post), method: :delete do %>
                      <span class="text-danger">♥<%= @post.favorites.count %> いいね</span>
                    <% end %>
                  </span>
                <% else %>
                  <sapn>
                    <%= link_to post_favorites_path(@post), method: :post do %>
                      ♡<%= @post.favorites.count %> いいね
                    <% end %>
                  </sapn>
                <% end %>
                <% else %>
                <%= @post.favorites.count %>いいね <i class="far fa-thumbs-up"></i>
              <% end %>
            </td>
          </tr>
          <% if (current_customer == @post.customer) && (@post.best_ansewer.blank?) %>
            <tr>
              <td><%= link_to "削除する", post_path(@post) , class: "btn btn-outline-danger", method: :delete, data: { confirm: '投稿を削除しますか？' } %></td>
            </tr>
          <% elsif @post.best_ansewer.present?%>
            <tr>
              <td>このお悩みは解決済みです</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= attachment_image_tag @post, :image, size: "360x260", fallback: "no_image.jpg" %>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 pt-3 border-right">
        <%= render "ansewer", post: @post, ansewer: @ansewer %>
      </div>
      <div class="col-6">
        <%= render "ansewer_index", post: @post %>
      </div>
    </div>
  </div>
</main>
