<main class="admin_customer_bg">
  <h1 class="heading text-center">会員情報編集</h1>
  <div class="container admin-text">
    <%= form_with model:@customer,url: admin_customer_path(@customer), local:true do |f| %>
    <div class="row d-flex justify-content-center">
        <div class="field">
          <%= f.label :nickname, "ニックネーム（最大１０字）" %><br>
          <%= f.text_field :nickname, placeholder: "（例）レミ" %>
        </div>
        <div class="field offset-2">
          <%= f.label :email, "メールアドレス" %><br>
          <% if @customer.provider = "google" %>
            <p class="text-danger">:現在Googleログインの為<br>変更できません</p>
          <% else %>
            <%= f.text_field :email, placeholder: "(例)XXXXXX@google.com" %>
          <% end %>
        </div>

    </div>

    <div class="row d-flex justify-content-center">
      <div class="customer-field">
        <%= f.label :last_name, "姓" %><br>
        <%= f.text_field :last_name, placeholder: "（例）令和" %>
      </div>
      <div class="customer-field  offset-2">
        <%= f.label :first_name, "名" %><br>
        <%= f.text_field :first_name, placeholder: "（例）道子" %>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="field">
        <%= f.label :last_name_kana, "(姓)-カタカナ" %><br>
        <%= f.text_field :last_name_kana, placeholder: "（例）レイワ" %>
      </div>
        <div class="field offset-2">
        <%= f.label :first_name_kana, "(名)-カタカナ" %><br>
        <%= f.text_field :first_name_kana, placeholder: "（例）ミチコ" %>
      </div>
    </div>
    <div class="row mt-5">
    <div class="customer-field offset-4">
      <%= f.label :profile_image, "プロフィール画像" %><br>
      <%= f.attachment_field :profile_image %>
    </div>
    </div>


    <div class="row mt-4">
      <div class="field-body col text-center">
        <%= f.label :info, "紹介文（最大１００字）" %><br>
        <%= f.text_area :info, rows:'3',placeholder: "紹介文を入力してください" %>
      </div>
    </div>

    <div class="actions text-center mt-4">
      <%= f.submit '会員情報更新', class: "btn btn-warning font-italic" %>
    </div>
    <% end %>
  </div>
</main>