<main class="admin_customer_bg">
  <h1 class="admin-text">会員詳細ページです</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-flex justify-content-center">
        <%= attachment_image_tag(@customer, :profile_image, size: "270x270", fallback: "no_image.jpg")%>

      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-11">
            <table class="table table-bordered text-center admin-text">
              <thead>
                <tr>
                  <th>ニックネーム</th>
                  <th>本名</th>
                  <th>メールアドレス</th>
                  <th>登録日</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @customer.nickname %></td>
                  <td><%= @customer.first_name %>(<%= @customer.last_name_kana %><%= @customer.first_name_kana %><%= @customer.last_name%>)</td>
                  <td>
                    <% if @customer.provider == "google" %>
                      <%= @customer.email %>
                      <p> Googleログインのユーザーです</p>
                    <% else %>
                      <%= @customer.email %>
                    <% end %>
                  </td>
                  <td><%= @customer.created_at.strftime('%Y/%m/%d (%H時%M分)') %></td>
                </tr>
              </tbody>
            </table>
            <table class="table col-12 admin-text">
              <tr>
                <tbody>
                  <td>
                    <% if @customer.info.nil? %>
                      <p class="py-4 text-center">紹介文の記入はありません。</p>
                    <% else %>
                      <p class="py-4 text-center"><%= @customer.info %></p>
                    <% end %>
                  </td>
                </tbody>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center"><%= link_to "会員情報編集", edit_admin_customer_path(@customer), class: "btn btn-success" %></div>
      <% if @customer.customer_status_by?(@customer) %>
        <div class="col-12 text-center"><%= link_to "会員情報復旧", admin_path(@customer),method: :patch, class: "btn btn-success", data: { confirm: '会員情報を復旧させますか？' } %></div>
      <% else %>
        <div class="col-12 text-center"><%= link_to "強制退会", admin_path(@customer),method: :patch, class: "btn btn-danger", data: { confirm: '会員を強制退会させますか？' } %></div>
      <% end %>
    </div>
  </div>
</main>