<!DOCTYPE html>
<html>
  <head>
    <title>OutletPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="sticky-top">
      <%= render 'layouts/header'%>
      <%= render 'layouts/search'%>
      <%= render 'layouts/flash'%>
    </div>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
